body {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns:repeat(3, 3fr);
    background: radial-gradient(
            ellipse farthest-corner at top left,
            #C9FBFF,
            #6495ed) no-repeat fixed;
    height: 100%;
    margin: 0;
    /*font-family: 'Chivo Mono', monospace;*/
    font-family: 'Lato', sans-serif;
}
/*style*/
h3{
    text-align: center;
    border-bottom: 0.10em solid #000000;
    padding-bottom: 0.10em;
}
.title h1,
.title image {
    display: inline-block;
    vertical-align: center;
}
.title{
    height: fit-content;
    grid-row: 1;
    grid-column: 2;
    text-align: center;
    margin: 0.1em 0.1em;
    text-shadow: 10px 10px 10px #55737A;
    padding: 1em;
}
.singin,.login{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1em;
    padding: 1em;
    background-color: #85BDBF;
    box-shadow: 5px 5px 10px #708090;
    font-size: 12px;
    border: 2px solid #000000;
    border-radius: 10px;
    float: left;
    text-align: left;
    width: fit-content;
    height: fit-content;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C9FBFF;
    box-shadow: 5px 5px 10px #708090;
    font-size: 12px;
    border: 2px solid #000000;
    border-radius: 10px;
    float: left;
    margin: 10px;
    padding: 5px;
}

.user-info{
    border: 0.2em solid ;
    border-radius: 10px;
    padding: 0.001em;
    margin: 5em 2em ;
}

/*calendario*/
table {
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    background: darkgrey;
}
th, td {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}
th {
    background-color: gray;
    color: white;
}
td.valid_celd:hover {
    background-color: lightgray;
}


/*posiciones del grid*/
.singin{
    grid-row: 2;
    grid-column: 1;
    margin-left: 7em;
}
.login {
    grid-row: 2;
    grid-column: 2;
}

.calendar{
    text-align: center;
    grid-column: 2 / span 3;
    grid-row: 1;
}
.user-info{
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    width: fit-content;
    height: fit-content;
}
a[href="page2.html"]{
    border: 1px solid #000000;
    grid-row: 3;
    grid-column: 2;
    text-align: center;
    margin: 1em 0;
    border-radius: 10px;
    background: #85BDBF;
    width: 25%;
    height: fit-content;
}

a[href="page2.html"]:hover{
    width: 30%;
}
a[href="index.html"]{
    border: 1px solid #000000;
    grid-row: 3;
    grid-column: 2;
    text-align: center;
    margin: 1em 0;
    border-radius: 10px;
    background: #85BDBF;
    width: 25%;
    height: fit-content;
}

a[href="index.html"]:hover{
    width: 30%;
}

.info-box{
    grid-row: 2;
    grid-column: 3;
    padding: 1em;
    text-align: left;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
}
#page_logo{
    width: 5em;
    height: 5em;
    margin-right: 1em;
}
#busy_days{
    width: 10em;
    height: 8em;
}